<div class="container">
  <h1 class="headline">Document Dashboard</h1>

  <div class="row">
    <div class="card mb-5" *ngFor="let doc of documents">
      <img width="100%" class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap">

      <div class="card-block">
        <h4 class="card-title dark">{{ doc.title }}</h4>
        <p class="card-text">{{ doc.description }}</p>

        <div>
          <a href="{{doc.file_url}}" class="btn btn-lg btn-primary">Download file</a>
        </div>

        <p class="card-text">
          <small class="text-muted">
            {{ doc.updated_at }}
          </small>
        </p>
      </div>
  </div>
  </div>
</div>
